body {
  background-color: #181818;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 70px;
  font-family: 'Press Start 2P', cursive;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#body-paragraphs p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 20;
  color: #c7c5b3;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

/* ABOUT TAB BOXES */

#boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  max-height: 300px;
  margin-bottom: 100px;
}

.box {
  width: 450px;
  height: 500px;
  background-color: #181818;
  margin: 0 50px;
  border-radius: 5px;
  margin-top: 20%;
}

.box h1 {
  color: #ff5e62;
  text-align: center;
  margin-top: 5;
  margin-bottom: 20px;
  font-size: 24px;
}

.box h2 {
  padding-top: 20px;
  color: #c7c5b3;
  text-align: center;
  font-size: 12px;
}

.footer-container {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10%;
  font-size: 2px;
}

.footer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3%;
  right: 3%;
  height: 1px;
  background-color: whitesmoke;
  opacity: 0.2;
  margin-bottom: 20px;
  z-index: -1;

}

#footer-trademark {
  color: whitesmoke;
  font-size: 12px;
  grid-column: 1;
  text-align: left;
  padding-top: 20px;
  font-size: 7px;
}

#footer-copyright {
  color: whitesmoke;
  font-size: 12px;
  grid-column: 2;
  text-align: right;
  padding-top: 20px;
  font-size: 7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.box img {
  max-width: 35%;
  max-height: 35%;
  margin-left: 32%;
  margin-top: 20%;
  object-fit: contain;
}