body {
  background-color: #181818;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 70px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#body-paragraphs p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 20;
  color: ghostwhite;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

/* ABOUT TAB BOXES */

#boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  max-height: 300px;
  margin-bottom: 100px;
}

.box {
  width: 450px;
  height: 500px;
  background-color: #181818;
  margin: 0 50px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}

.box h1 {
  color: ghostwhite;
  text-align: center;
  margin-top: 5;
  margin-bottom: 0;
}

.box h2 {
  color: ghostwhite;
  text-align: center;
}

.footer-container {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10%;
}

.footer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3%;
  right: 3%;
  height: 1px;
  background-color: whitesmoke;
  opacity: 0.2;
  margin-bottom: 20px;
  z-index: -1;
}

#footer-trademark {
  color: whitesmoke;
  font-size: 12px;
  grid-column: 1;
  text-align: left;
  padding-top: 20px;
}

#footer-copyright {
  color: whitesmoke;
  font-size: 12px;
  grid-column: 2;
  text-align: right;
  padding-top: 20px;
}