body {
  background-color: #181818;
  position: relative;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
   padding-bottom: 70px;
=======
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Add this line to ensure the body takes up at least the full viewport height */
}
  margin: 0; /* Add this line to remove default margins */
}

.page-content {
  flex: 1; /* Make the content take up all available space, pushing the footer to the bottom */
}


body.about {
  padding-bottom: 0;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  height: 5px;
  max-width: 100%;
  width: auto;
>>>>>>> 1db26b7d539c6509752dd131b7fdf90ef57738d4
}

.page-content {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
<<<<<<< HEAD
=======
  margin-left: 0px; /* add a left margin */
  color: #9a8866;

}

#left-links a,
#right-links a {
  color: #9a8866;
}


#left-links ol, #right-links ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#left-links li {
  display: inline-block;
  color: #9a8866;
  width: 5%; /* Increase, or decrease horizontal spacing between top-left links */
  margin-left: 100px; /* Increase, or decrease horizontal spacing between top-left links */
}

#right-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#right-links li {
  display: inline-block;
  color: #9a8866;
  width: 5%;
  margin-right: 100px;
  float: right;
}


#left-links li:nth-child(4) {
  margin-right: 10px;
}

a { 
  text-decoration: none; /* Remove underlines on links */
}

#image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Set the aspect ratio of the image (16:9) */
  max-width: 200px;
}

#image img {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Maintain aspect ratio of the image */
 
>>>>>>> 1db26b7d539c6509752dd131b7fdf90ef57738d4
}


/* DROPDOWN MENUS */

#trader-menu select {
  font-size: 20px;
  padding: 5px 80px 5px 5px; /* add more right padding to make room for the arrow */
  border: none;
  border-radius: 3px;
  background-color: #333;
  background-position: right 10px center; /* adjust the position of the arrow */
  color: #9a8866;
}

#trader-menu option {
  font-size: 16px;
  background-color: #1f1e1e;
  color: #9a8866;
}


#item-menu select {
  font-size: 20px;
  padding: 5px 80px 5px 5px; /* add more right padding to make room for the arrow */
  border: none;
  border-radius: 3px;
  background-color: #333;
  background-position: right 10px center; /* adjust the position of the arrow */
  color: #9a8866;
}

#item-menu option {
  font-size: 16px;
  background-color: #1f1e1e;
  color: #9a8866;
}

#dropdown-search {
  display: flex;
  align-items: center;
  position: absolute;
<<<<<<< HEAD
  top: 200px;
=======
  top: 220px;
>>>>>>> 1db26b7d539c6509752dd131b7fdf90ef57738d4
  width: 80%; /* match the width of the table */
  left: 10%; /* match the left margin of the table */
}

.dropdowns-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
  flex-grow: 1; /* make the dropdown menus wrapper grow as the container shrinks */
  flex-basis: 0;
}

.dropdown-menu {
  display: flex;
  gap: 2px;
  flex-grow: 1; /* make the dropdown menus grow as the wrapper shrinks */
  flex-basis: 0;
  max-width: 180px;
}

.dropdown-menu select {
  width: 100%;
}

#search-box {
  flex-grow: 1; /* make the search box grow as the container shrinks */
  flex-basis: 0;
  margin-left: 20px; /* add some spacing between the dropdown menus and the search box */
  max-width: 600px;
}

#search-box input[type="text"] {
  font-size: 30px;
  height: 45px;
  padding: 5px;
  border: none;
  background-color: #333;
  color: #dbdbdb;
  width: 100%;
}

/* TABLES */

<<<<<<< HEAD
.main-content {
    flex: 1;
}

#table-container {
    position: relative;
    left: 0;
    width: 80%;
    top: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    height: auto; /
=======
#table-container {
  position: relative; /* Change from absolute to relative */
  left: 0;
  width: 80%;
  top: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  height: 100%;
>>>>>>> 1db26b7d539c6509752dd131b7fdf90ef57738d4
}


table {
  width: 100%;
  border-collapse: separate; /* separate the borders between the cells */
  border-spacing: 1px; /* set the spacing between the cells */
  margin-top: 20px;
}

td {
  padding: 10px; /* add padding to the cell content */
  border-radius: 5px; /* add rounded corners to the cell */
  background-color: #202020; /* set a background color for the cell */
  color: #b1aeae;
  height: 80px;
}

th, td {
  border: 2px solid #1f1e1e; /* Add a border around each cell */
  padding: 8px; /* Add padding to each cell */
  text-align: left;
}

th {
  background-color: #404040; /* Add a background color to the header cells */
  color: #c0c0c0; /* Set the text color of the header cells */
  height: 50px;
  font-size: 20px;
  text-align: center;
  
}

button {
  border: none;
  background-color: #9a8866;
  color: black;
  padding: 13px 13px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
   border-radius: 5px; /* Add rounded corners */

}
  
.button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 40px;
}

.main-content {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
   min-height: 100vh; /* Add this line to ensure the wrapper takes up at least the full viewport height */
<<<<<<< HEAD
=======
}

.table-loadmore-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



main {
  flex-grow: 1;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



.content {
  flex: 1 0 auto;
  min-height: calc(100vh - 80px); /* Adjust this value to account for the height of the footer and any other elements you want to exclude */
}

footer {
  width: 100%;
  bottom: 0;
   flex-shrink: 0; /* Add this line to prevent the footer from shrinking */
}

#footer-line {
  height: 1px;
  background-color: #CCC;
  width: calc(100% - 150px); /* add a margin of 20px on each side */
  position: absolute;
  bottom: -60; /* align with bottom of the image */
  left: 75px; /* add a left margin */
  right: 75px; /* add a right margin */
  opacity: 0.1;

}

#footer-trademark {
  position: absolute;
  color: whitesmoke;
  font-size: 12px;
  left: 0;
/*  transform: translateX(150%);*/
  left: 10%;
  bottom: -120px;
}

#footer-copyright {
  position:absolute;
  color: whitesmoke;
  bottom: 0;
  right: 75px;
  height: 6px;
  font-size: 12px;
}



#body-paragraphs p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  font-size: 28;
  color: ghostwhite;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;

>>>>>>> 1db26b7d539c6509752dd131b7fdf90ef57738d4
}

#load-more {
  margin-bottom: 40px; /* Add space between the Load More button and the footer line */
}

<<<<<<< HEAD
.content {
  flex: 1;
=======
#nav-line {
   display: flex;
  justify-content: center;
  height: 1px;
  background-color: #CCC;
  width: calc(100% - 400px); /* add a margin of 20px on each side */
  position: absolute;
  margin-top: 250px;
  margin-bottom:1px;
  left: 200px; /* add a left margin */
  right: 200px; /* add a right margin */
  opacity: 0.5;
   z-index: 2; /* higher value */
}


/* ABOUT TAB BOXES */

#boxes {
>>>>>>> 1db26b7d539c6509752dd131b7fdf90ef57738d4
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#load-more {
  margin-bottom: 6rem;
}

footer {
  margin-bottom: 50px;
} 

.footer-container {
  position: absolute;
  bottom: 0;
  display: grid; /* Change to grid layout */
  grid-template-columns: auto auto; /* Create two columns */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10%; /* Add padding on left and right to keep the content within margins */
}

.footer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3%;
  right: 3%;
  height: 1px;
  background-color: whitesmoke;
  opacity: 0.2;
  margin-bottom: 20px;
  z-index: -1;
}

#footer-trademark {
  color: whitesmoke;
  font-size: 12px;
  grid-column: 1; /* Place in the first column */
  text-align: left; /* Align the content to the left */
  padding-top: 20px;
}

#footer-copyright {
  color: whitesmoke;
  font-size: 12px;
  grid-column: 2; /* Place in the second column */
  text-align: right; /* Align the content to the right */
  padding-top: 20px;
}


<<<<<<< HEAD
#nav-line {
   display: flex;
  justify-content: center;
  height: 1px;
  background-color: #CCC;
  width: calc(100% - 400px); /* add a margin of 20px on each side */
  position: absolute;
  margin-top: 250px;
  margin-bottom:1px;
  left: 200px; /* add a left margin */
  right: 200px; /* add a right margin */
  opacity: 0.5;
   z-index: 2; /* higher value */
}

=======
/*


#vert-line {
  background-color: #CCC;
  width: 1px; 
  top: 250px; 
  left: 500px; 
  right: 200px; 
}

*/
#tools-container {
  display: flex;
  align-items: flex-start;
  top: 18%;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
  width: auto;
  position: relative;
  flex-wrap: wrap; /* Add this line */
}


#tools-desc {
  color: bbb89b;
  background-color: none;
  width: 20%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 200px;
}


#tools-desc h1 {
  margin-top: 80px;
  margin-bottom: 145px;
}

.tool-boxes {
  position: relative;
  padding: 20px;
}

#tools-desc-line {
  height: 92%;
  background-color: #CCC;
  width: 1px;
  position: absolute;
  top: 0;
  left: 30%;
  opacity: 0.5;
}

#tool-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #9a8866;
  font-size: 24px;
  height: 40%;
  width: 30%;
  padding-left: 20px;
}

.tool-box {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
  background-color: #181818;
  border-radius: 5px;
  border: 1px solid #9a8866;
}

>>>>>>> 1db26b7d539c6509752dd131b7fdf90ef57738d4
#login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

